In [96]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [97]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Hobart,75,AU,2021-09-20 02:31:52,64,-42.8794,147.3294,53.26,5.01
1,1,Hilo,90,US,2021-09-20 02:34:10,78,19.7297,-155.0900,80.28,4.61
2,2,Albany,0,US,2021-09-20 02:29:57,87,42.6001,-73.9662,57.45,2.84
3,3,Varhaug,92,NO,2021-09-20 02:34:11,64,58.6147,5.6457,52.90,15.05
4,4,Yellowknife,40,CA,2021-09-20 02:34:11,81,62.4560,-114.3525,43.32,5.75

In [98]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [99]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# heat map of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, 
                                 max_intensity = 300, point_radius = 4)
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
# heat map of percent cloudiness
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds,
                                dissipating = False, max_intensity = 300,
                                point_radius =4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# heat map for windiness
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind,
                                dissipating = False, max_intensity = 300,
                                point_radius = 4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [103]:
# ask the customer to add a minimum and maximum temerature value
min_temp = float(input("What is the minimum tempature you would like for your trip? "))
max_temp= float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum tempature you would like for your trip?

ValueError: could not convert string to float: ''

In [104]:
# filter data set to find preferred cities
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)
                                     & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,Hilo,90,US,2021-09-20 02:34:10,78,19.7297,-155.0900,80.28,4.61
2,2,Albany,0,US,2021-09-20 02:29:57,87,42.6001,-73.9662,57.45,2.84
6,6,Saint-Joseph,39,RE,2021-09-20 02:34:12,77,-21.3667,55.6167,61.21,12.01
7,7,Atoyac,93,MX,2021-09-20 02:34:13,96,20.0167,-103.5333,70.16,2.86
8,8,Moussoro,92,TD,2021-09-20 02:34:13,54,13.6408,16.4901,84.63,8.12

In [105]:
preferred_cities_df.dropna()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,Hilo,90,US,2021-09-20 02:34:10,78,19.7297,-155.0900,80.28,4.61
2,2,Albany,0,US,2021-09-20 02:29:57,87,42.6001,-73.9662,57.45,2.84
6,6,Saint-Joseph,39,RE,2021-09-20 02:34:12,77,-21.3667,55.6167,61.21,12.01
7,7,Atoyac,93,MX,2021-09-20 02:34:13,96,20.0167,-103.5333,70.16,2.86
8,8,Moussoro,92,TD,2021-09-20 02:34:13,54,13.6408,16.4901,84.63,8.12
...,...,...,...,...,...,...,...,...,...,...
603,603,Harda,96,IN,2021-09-20 02:38:32,87,22.3333,77.1000,78.39,4.79
605,605,Orange,1,US,2021-09-20 02:36:37,78,33.7000,-117.7675,76.62,1.01
606,606,Qatana,0,SY,2021-09-20 02:38:33,43,33.4354,36.0815,71.22,2.98
608,608,Bartica,86,GY,2021-09-20 02:38:33,95,6.4000,-58.6167,77.32,2.21
609,609,Corinto,0,GR,2021-09-20 02:38:34,59,37.9407,22.9573,77.76,5.64

In [106]:
# create DataFrame called hotel_df to store hotel names 
# along with city, country, max temp, and coordinates.
# STARTING PLACES ---------------------------------------------------------------
hotel_df = preferred_cities_df[["City","Country","Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df.head()

           City Country  Max Temp      Lat       Lng Hotel Name
1          Hilo      US     80.28  19.7297 -155.0900
2        Albany      US     57.45  42.6001  -73.9662
6  Saint-Joseph      RE     61.21 -21.3667   55.6167
7        Atoyac      MX     70.16  20.0167 -103.5333
8      Moussoro      TD     84.63  13.6408   16.4901

In [107]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping")

Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping

In [108]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [109]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating = False,
                                max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# call the figure to the plot the data
fig

Figure(layout=FigureLayout(height='420px'))